<!DOCTYPE html>
<html>
<head>
  <title>StatBoard</title>
  <%= stylesheet_link_tag    "stat_board/application", :media => "all" %>
  <%= javascript_include_tag "stat_board/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
