<div id="<%= report.slug %>" class="span4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2"><%= report.name(first_day_ever) %></th>
      </tr>
    </thead>

    <tbody>
      <% StatBoard.models.each do |model| %>
        <tr>
          <td class="span2"><%= model.to_s.pluralize %></td>
          <td class="span2"><%= report.count(model) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
