<% if StatBoard.models %>
  <% if StatBoard.display_graph %>
    <%= render "graph" %>
  <% end %>

  <div class="row">
    <%= render :partial => "chart", :collection => @reports, :as => :report %>
  </div>

<% else %>
  Please specify some models by setting <code>StatBoard.models</code>
  (in <code>config/initializers/stat_board.rb</code>, for example).
<% end %>
